<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Daniel Shorten</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	<require_modules>
		<require_module version="2.1">org.openmrs.event</require_module>
		<require_module version="1.0.0-SNAPSHOT">org.openmrs.module.openhmis.billableobjects</require_module>		
	</require_modules>
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.EventBasedBillingActivator</activator>
	
	<!-- Global Properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.associatorId</property>
		<description>ID of the default bill associator to use for automatic billing</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.cashPointId</property>
		<description>ID of the default cash point to use for automatic billing</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.isEnabled</property>
		<description>Set to true to enable automatic event-based bill generation</description>
	</globalProperty>
	
	<!-- Privileges -->
	<privilege>
		<name>View Event-Based Billing</name>
		<description>View details of event-based billing</description>
	</privilege>
	
	<privilege>
		<name>Manage Event-Based Billing</name>
		<description>Configure event-based billing options</description>
	</privilege>

	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		BillAssociator.hbm.xml
		SimpleNewBillAssociator.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

